apiVersion: 1

datasources:
  - name: Prometheus
    type: prometheus
    # access: direct
    access: proxy
    url: http://${PROMETHEUS_HOST}:9090
    password: ''
    user: ''
    database: ''
    basicAuth: false
    basicAuthUser: ''
    basicAuthPassword: ''
    withCredentials: false
    isDefault: true
    editable: true
